{% extends 'base.html' %}

{% load bootstrap4 %}
{% block title %}
{{ user.username }} profile
{% endblock %}

{% block content %}


<div class="hero-unit">
  <h2 class="my-2">Profile page</h2>
  <hr>
  <h4 class="my-2">Your current tasks:</h4>
  <ul class="list-group list-group-flush">
    {% for task in tasks %}    
      <li  class="list-group-item">
        <a href="{% url 'tasks:task_detail' task.id %}">
          {{ task.event }}
        </a>
        {% if task.is_done %}
        <span class="badge badge-{{ task.progress_background }} mx-2">done</span>
        {% elif not task.is_done and task.days_left < 0 %}
        <span class="badge badge-{{ task.progress_background }} mx-2">past event</span>
        {% else %}
        <span class="badge badge-{{ task.progress_background }} mx-2">{{ task.days_left }} days left</span>
        <span class="badge badge-inverse">deadine in {{ task.deadline }}</span>
        {% endif %}
        
      </li>
    {% empty %}
      <li  class="list-group-item">
        No current tasks.
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h4 class="my-2">Your submissions:</h4>
  <ul class="list-group list-group-flush">
    {% for submission in submissions %}    
      <li  class="list-group-item">
        <a href="{% url 'submissions:submission_detail' submission.id %}">
          {{ submission.task}}
        </a>
        <span class="badge badge-info mx-1">{{ submission.get_status_display }}</span>
      </li>
    {% empty %}
      <li  class="list-group-item">
        No submissions.
      </li>   
    {% endfor %}
  </ul>

    <a class="btn btn-primary btn-sm my-4 " href="{% url 'edit_profile' user.id %}">
      Edit your profile
    </a>
  </p>
</div>

{% endblock %}
