{% extends "base.html" %}
{% load mathfilters %}

{% block content %}

<!-- Current Tasks -->
<h1>Current Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Days Left</th>
            <th scope="col">Deadline</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row"><a href="{% url 'tasks:task_detail' task.id %}">{{ task.event }}</a></th>
            <td>{{ task.days_left }}</td>
            <td>{{ task.deadline }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'tasks:task_new' %}">New Task</a>


<hr class="my-5">


<!-- Past Tasks -->
<h1>Past Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Days Past</th>
            <th scope="col">Deadline</th>
        </tr>
    </thead>
    <tbody>
        {% for task in past_tasks %}
        <tr>
            <th scope="row"><a href="{% url 'tasks:task_detail' task.id %}">{{ task.event }}</a></th>
            <td>{{ task.days_left|abs }}</td> <!-- This is acctually a DAYS PASSED field -->
            <td>{{ task.deadline }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}