{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
<!-- Task info -->

<div class="jumbotron">
  <h1 class="display-4">{{ task.event }}</h1>
  <div class="progress" style="background-color: lightgray">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{task.progress_background}}" role="progressbar"
      style="width: {{task.progress_percentage}}%; color: black;" aria-valuenow="{{task.progress_percentage}}"
      aria-valuemin="0" aria-valuemax="100">{{task.progress_percentage}}%</div>
  </div>
  <br>
  <h4 class="display-8">{{ task.days_left|abs }} days {% if task.days_left >= 0 %} until deadline {% else %} past since deadline {% endif %}
  </h4>
  <h4 class="display-8">{{ task.deadline }}</h4>
  <hr class="my-4">
  <h4 class="display-8">Students:</h4>

  <!-- Students of this task -->
  <ul class="list-group list-group-flush my-4">
    {% for student in students %}
      <li class="list-group-item ">
        <h6> {{ student.name }} </h6>
      </li>
    {% empty %}
      <li  class="list-group-item">
        No current students on this task
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-info btn-md" href="{% url 'tasks:task_update' task.id %}" role="button">Edit</a>
  <a class="btn btn-danger btn-md" href="{% url 'tasks:task_delete' task.id %}" role="button">Delete</a>
  {% if task.is_done %} 
    <a class="btn btn-warning btn-md" href="{% url 'tasks:task_undone' task.id %}" role="button">Mark as undone</a>
  {% else %}
  <a class="btn btn-success btn-md" href="{% url 'tasks:task_done' task.id %}" role="button">Mark as done</a>
  {% endif %}
</div>

{% endblock %}