{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Submission Details -->

<div class="jumbotron">
  <!--paper acronym-->
  <h2 class="display-4"> {{ submission.paper_acronym }}</h2>
  <br>
  <!--event name and submission status-->
  <h4 class="display-8">A submission for <strong>{{ submission.event.name|truncatechars:20 }}</strong> | <span class="badge badge-{{submission.status_background}}">{{ submission.get_status_display }}</span></h4>
  <br>
  <!--overlaf anchor and image-->
  <a class="display-8" href="{{ submission.paper_url }}" target="_blank" >Paper url  
    <img src="{% static 'icons/overleaf.png' %}" alt="overleaf icon" class="img-fluid img-thumbnail"/>
  </a>
  <hr class="my-4">

  <!-- a Progress bar-->
  <div class="progress" style="background-color: lightgray">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{submission.progress_background}}" role="progressbar"
      style="width: {{submission.progress_percentage}}%; color: black;" aria-valuenow="{{submission.progress_percentage}}"
      aria-valuemin="0" aria-valuemax="100">{{submission.progress_percentage}}%</div>
  </div>

  <!-- Students of this Submission -->
  <h4 class="display-8">Students working on this submission:</h4>
  <div class="col-sm">
    <ul class="list-group list-group-flush" style="background-color: transparent">
      {% for student in students %}
      <li class="list-group-item " style="background-color: transparent">
        <h6> {{ student.name }} </h6>
      </li>
      {% endfor %}
    </ul>
  </div>
  

  <a class="btn btn-info btn-md" href="{% url 'submissions:submission_update' submission.id %}" role="button">Edit</a>
  <a class="btn btn-danger btn-md" href="{% url 'submissions:submission_delete' submission.id %}" role="button">Delete</a>
</div>

{% endblock %}